@font-face {
  font-family: 'Roboto1';
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Black.ttf) format('truetype');
  color: black;
}
@font-face {
  font-family: 'Roboto3';
  src: url(./fonts/Roboto-Light.ttf) format('truetype');
  font-weight: light;
}
@font-face {
  font-family: 'Roboto4';
  src: url(./fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto5';
  src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/*first section*/
.firstContainer {
  max-width: 100%;
  background-color: #1f2937;
  font-family: 'Roboto1', sans-serif;
}
.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: #e6e7eb;
  font-size: 18px;
}
.main-header .logo {
  max-width: 100%;
  height: auto;
  font-size: 24px;
  color: #f9faf8;
}
.main-header .firstContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
/*second section*/
.main-hero {
  background-color: #1f2937;
  height: 60vh;
}
.heroimg {
  width: 400px;
  height: auto;
  text-align: right;
}
.btn {
  color: #f9faf8;
  align-items: center;
  background-color: #3882f6;
  width: 115px;
  border-radius: 10px;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  line-height: 0;
  border-width: 0px;
  white-space: none;
  padding: 18px;
  height: 20px;
}
.secondContainer {
  display: flex;
  color: white;
  background-color: #1f2937;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hero-1 {
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 300px;
  max-width: 100%;
  align-items: left;
  line-height: 1;
  flex: 1 1 300px;
}
.hero-2 {
  margin-top: 125px;
  margin-bottom: 100px;
  background-color: #b2b3b6b9;
  display: flex;
  height: 270px;
  width: 350px;
  flex: 1.5 1.5 300px;
  align-items: center;
  margin-right: 300px;
  margin-left: 240px;
}
.main-hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.25;
}
.main-hero h2 {
  margin-top: -40px;
  font-size: 18px;
  color: #e6e7eb;
  font-family: 'Roboto3', sans-serif;
  font-weight: light;
  line-height: 1.25;
}
/*third section code*/
.title {
  font-family: 'Roboto4', sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.box {
  color: white;
  text-align: center;
  height: 100px;
  flex-basis: 110px;
  background-color: white;
  margin: 15px;
  border: 2.5px solid #3882f6;
  border-radius: 10px;
}
.thirdContainer {
  display: flex;
  justify-content: center;
}
.thirdContainer p {
  font-size: small;
  font-family: 'Roboto3', sans-serif;
  margin-top: 108px;
  margin-right: -25px;
  color: #1f2937;
  text-align: left;
  text-align-last: center;
  padding-right: 15px;
}
/*forth section*/
.forthContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.box1 {
  margin: 125px;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
  height: 45vh;
  max-width: 100%;
  background-color: #e5e7eb;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
.box2 {
  display: flex;
  flex-basis: 150px;
  flex: 1;
  max-width: 100%;
  display: flex;
  margin: 20px 325px 40px 325px;
  background-color: #3882f6;
  border-radius: 7px;
  color: white;
}
.box1 p {
  font-family: 'Roboto5', sans-serif;
  color: #1f2937;
  font-size: 36px;
  margin: 135px 210px 70px 230px;
  text-align: left;
}
.box1 a {
  margin-left: 700px;
}
.box2 button {
  margin-left: 270px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  background-color: #3882f6;
  border-width: 2.5px;
  border-radius: 10px;
  border-color: white;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto1', sans-serif;
  width: 110px;
  height: 20px;
}
.box2 h1 {
  margin-left: 250px;
  margin-top: 50px;
  font-family: 'Roboto4', sans-serif;
  font-weight: 900;
  line-height: 0.2;
}
.box2 h2 {
  margin-left: 250px;
  margin-top: 25px;
  font-family: 'Roboto3', sans-serif;
  line-height: 0.2;
  font-size: smaller;
}
/*fifth section*/
.main-footer {
  margin-top: 50px;
  background-color: #1f2937;
}
.fifthContainer {
  display: flex;
  flex-direction: column;
}
.fifthContainer p {
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
  height: 50px;
  justify-content: center;
}
.wrapper .main-global {
  display: flex;
  flex-direction: column;
}

.wrapper .firstContainer {
  flex-basis: 100%;
  margin-top: -7px;
  flex: 2;
}
.wrapper .fifthContainer {
  flex-basis: 100%;
  margin-bottom: -7px;
  flex: 1;
}
.wrapper .secondContainer {
  flex-basis: 50%;
  flex: 1;
}
.wrapper .thirdContainer {
  flex-basis: 70%;
  flex: 1.5;
}
.wrapper .forthContainer {
  flex-basis: 30%;
  flex: 0.5;
}
