@font-face {
  font-family: 'Roboto1';
  src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Black.ttf) format('truetype');
  color: black;
}
@font-face {
  font-family: 'Roboto3';
  src: url(./fonts/Roboto-Light.ttf) format('truetype');
  font-weight: light;
}
@font-face {
  font-family: 'Roboto4';
  src: url(./fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto5';
  src: url(./fonts/Roboto-LightItalic.ttf) format('truetype');
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.wrapper .main-global {
  display: flex;
  flex-direction: column;
}
/*first section*/
.firstContainer {
  background-color: #1f2937;
  font-family: 'Roboto1', sans-serif;
}
.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}
.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  color: #e6e7eb;
  font-size: 18px;
}
.main-header .logo {
  max-width: 100%;
  height: auto;
  font-size: 24px;
  color: #f9faf8;
}
.main-header .firstContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
/*second section*/
.main-hero {
  background-color: #1f2937;
}
.btn {
  color: #f9faf8;
  align-items: center;
  background-color: #3882f6;
  width: 115px;
  border-radius: 10px;
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  line-height: 0;
  border-width: 0px;
  white-space: none;
  padding: 18px;
  height: 20px;
}
.secondContainer {
  color: white;
  background-color: #1f2937;
}
.main-global .secondContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hero-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
  align-items: left;
  line-height: 1;
  flex: 1 1 300px;
}
.hero-2 {
  margin-top: 125px;
  margin-bottom: 100px;
  background-color: #b2b3b6b9;
  height: 270px;
  width: 350px;
  flex: 3 1 300px;
  align-items: center;
  margin-right: 300px;
  margin-left: 240px;
  display: flex;
}
.hero-2 p {
  width: 400px;
  text-align: right;
  justify-content: center;
}
.main-hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.25;
}
.main-hero h2 {
  margin-top: -40px;
  font-size: 18px;
  color: #e6e7eb;
  font-family: 'Roboto3', sans-serif;
  font-weight: light;
  line-height: 1.25;
}
/*third section code*/
.title {
  margin: 100px;
  margin-bottom: 20px;
  font-family: 'Roboto4', sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.box {
  color: white;
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 15px;
  border: 2.5px solid #3882f6;
  border-radius: 10px;
}
.main-global .thirdContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.boxContainer {
  display: flex;
}
.box {
  flex: 1;
}
.thirdContainer p {
  display: flex;
  font-size: small;
  font-family: 'Roboto3', sans-serif;
  margin-top: 108px;
  color: #1f2937;
  text-align-last: center;
  justify-items: center;
}
/*forth section*/
.main-global .forthContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.box1 {
  margin: 150px 170px 125px 170px;
  max-width: 100%;
  background-color: #e5e7eb;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  flex-basis: 400px;
}
.box1 p {
  font-family: 'Roboto5', sans-serif;
  color: #1f2937;
  font-size: 36px;
  flex: 2;
  margin: 135px 200px 70px 200px;
}
.box1 a {
  margin-left: 750px;
  justify-items: space-between;
}
.box2 {
  margin-left: 450px;
  margin-right: 450px;
  background-color: #3882f6;
  border-radius: 7px;
  color: white;
  display: flex;
  flex-basis: 120px;
  justify-content: space-around;
}
.box2 button {
  margin-top: 35px;
  color: white;
  background-color: #3882f6;
  border-width: 1.5px;
  border-radius: 10px;
  border-color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto4', sans-serif;
  width: 130px;
  height: 7px;
  letter-spacing: 0.8px;
}
.box2 h1 {
  font-family: 'Roboto4', sans-serif;
  font-weight: 900;
  line-height: 0.2;
}
.box2 p {
  font-family: 'Roboto3', sans-serif;
  line-height: 0.2;
}
.box2h {
  margin-top: 25px;
  margin-left: 20px;
}
/*fifth section*/
.main-footer {
  margin-top: 50px;
  background-color: #1f2937;
}
.main-footer .fifthContainer {
  display: flex;
  flex-direction: column;
}
.fifthContainer p {
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
  text-align: center;
  height: 50px;
  justify-items: center;
}
